.btn{
    padding: 2px 6px;
    margin: 0px;
    box-sizing: border-box;
    border-radius: 5px;
    height: 33px;
    border: none;
    box-shadow: 0px 0px 4px var(--white);
    color: var(--white);
    font-weight: bold;
    cursor: pointer;
}

/* css btn colors */
.btn-darkblue{
    background: var(--darkblue);
}
.btn-success{
    background:var(--success);
}
.btn-blueviolet{
    background: var(--blueviolet);
}
.btn-warning{
    background: var(--warning);
    color: var(--dark);
}
.btn-danger{
    background: var(--danger);
}
.btn-dark{
    background: var(--dark);
    color: var;
}
.btn-secondary{
    background:var(--secondary);
}
.btn-orange{
    background:var(--orange);
}
/* css btn hovers */
.btn-darkblue:hover,.btn-danger:hover,.btn-success:hover,
.btn-blueviolet:hover,.btn-dark:hover,.btn-warning:hover,
.btn-secondary:hover, .btn-orange:hover
{
    background: var(--primary);
    color: var(--white);
    transition: all 0.4s ease;
}
/* css btn hovers end */
/* css btn colors end */

/* btn size css */
.btn-full{
    width: 100%;
}
.btn-sm{
    min-width: 100px;
    height: 30px;
}
.btn-md{
    min-width: 130px;
    height: 35px;
}
.btn-lg{
   min-width: 152px;
   height: 40px;
   font-size: 1em;
}
.btn-xl{
   min-width: 200px;
   height: 45px;
   font-size: 1.2em;
}
/* btn size css end*/

.btn-disabled{
    opacity: 0.5;
    cursor:not-allowed;
}